<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name ="DBconnection" connectionString="Data Source=carnell99\arc_sqlexpress;Initial Catalog=RAW_GPS;User ID=HaoYe;Password=Carnell2018;"/>
    </connectionStrings>
    <appSettings>
      <add key = "HostName" value="185.66.115.194"/>
      <add key = "PortNumber" value="21"/>
      <add key = "Username" value="carnell"/>
      <add key = "Password" value="iFd_u163"/>
      <add key = "RemotePath" value="/SmartScan Dev"/>
      <add key = "LocalPath" value="M:\INCILE\SmartScan\SourceFolder"/>
      <add key = "TaskList" value="[TASK_LIST].[dbo].[TaskList]"/>
    </appSettings>
</configuration>